{% extends "liga/base.html" %}
{% block content %}

    <h1>{{ tournament.game_name }}</h1>

    <p>
        The tournament started at {{ tournament.season_start|date:'Y-m-d H:i' }}
        and will end at {{ tournament.season_end|date:'Y-m-d H:i' }}
    </p>

    <h3>Your team</h3>
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">{{ team.name }}</span>
                <p>
                    Score: {{ team.score }} <br>
                    Position in the tournament: {{ team.ranking }} <br>
                </p>
            {% if team_members %}
                <p>Your teammates:</p>
                <ul>
                    {% for p in team_members %}
                        <li>{{ p.user.full_name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Your are playing all on your own!</p>
            {% endif %}

        </div>
    </div>

    {% if planned_matches %}
        <h3>Matches to play</h3>
        {% if team.score == 0 %}
            Play matches to score points. <br>
        {% endif %}


        <table class="highlight">
            <thead>
                <tr>
                    <th>Opponent</th>
                    <th>Suggested match date</th>
                    <th>Challenge deadline</th>
                </tr>
            </thead>
            <tbody>
                {% for m in planned_matches %}
                    <tr>
                        <td>
                            <a href="{% url 'match' tournament_id=tournament.id match_id=m.id %}">
                                {% if m.inviting_team.name == team.name %}
                                    {{ m.guest_team.name }}
                                {% else %}
                                    {{ m.inviting_team.name }}
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            {{ m.suggested_at|date:'Y-m-d' }}
                        </td>
                        <td>
                            {{ m.expires_at|date:'Y-m-d' }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



        <ul>
            {% for m in planned_matches %}
                <li>
                    <a href="{% url 'match' tournament_id=tournament.id match_id=m.id %}">
                        {{ m.inviting_team.name }} vs {{ m.guest_team.name }}
                        - suggested to play {{ m.suggested_at|date:'Y-m-d' }}, expires {{ m.expires_at|date:'Y-m-d' }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if possible_opponents_count > 0 %}
        <h3>Possible opponents</h3>
        {% if team.score == 0 %}
            Challenge team to a match to score points. <br>
        {% endif %}
        {% for f in possible_opponent_challenge_forms %}
            <div class="card-panel">
                <h4>{{ f.opponent_name }}</h4>
                <form class=""
                      action="{% url 'create-match' tournament_id=tournament.id %}"
                      method="post">
                    {% csrf_token %}
                    {{ f.non_field_errors }}

                    {# Visible fields, TODO: materialize datepicker #}
                    <div class="input-field inline">
                        {{ f.expires_at.errors }}
                        <label for="{{ f.expires_at.id_for_label }}">
                            Expire date
                        </label>
                        {{ f.expires_at }}
                    </div>
                    <div class="input-field inline">
                        {{ f.suggested_at.errors }}
                        <label for="{{ f.suggested_at.id_for_label }}">
                            Suggested playing time
                        </label>
                        {{ f.suggested_at }}
                    </div>

                    {# Hidden fields #}
                    {{ f.inviting_team_id_hidden_field }}
                    {{ f.guest_team_id_hidden_field }}
                    <button class="btn waves-effect waves-light red"
                            type="submit"
                            name="action"
                            value="Challenge">
                        Challenge
                    </button>
                </form>
            </div>
        {% endfor %}
    {% endif %}

    <h3>Played matches</h3>
    {% if played_matches %}
        <ul>
            {% for m in played_matches %}
                <li>
                    <a href="{% url 'match' tournament_id=tournament.id match_id=m.id %}">
                        {{ m.inviting_team.name }} vs {{ m.guest_team.name }}
                    </a>
                    ({{ m.inviting_score }} : {{ m.guest_score }} )
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="flow-text">Your match history will appear here.</p>
    {% endif %}

{% endblock %}