{% extends "liga/base.html" %}
{% block content %}

    <h1>{{ tournament.game_name }}</h1>

    <p>
        The tournament starts at {{ tournament.season_start|date:'Y-m-d H:i'  }}.
    </p>

    {% if has_team %}
        {# TEAM #}
        <h3>Your team</h3>
        <div class="card-panel">
            <h4>
                {{ team.name }}
                {% if team.is_public %}
                    <span class="grey-text"><small>PUBLIC</small></span>
                {% endif %}
            </h4>
            <blockquote>
                Your team has {{ team_players_count }} players,
                while {{ tournament.team_size }} players per team are allowed in the tournament.
            </blockquote> {# TODO: Change if team is already full #}

            {# TEAMMATES #}
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>
                        Your teammates
                    </h5>
                </li>
                {% for p in team_players %}
                    <li class="collection-item">{{ p.user.full_name }}</li>
                {% endfor %}
            </ul>

            {# TEAM REQUESTS#}
            {# TODO: Dont display if team is already full #}
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>
                        Team requests
                    </h5>
                </li>
                {% for f in team_request_accept_forms %}
                    <li class="collection-item">{{ p.user.full_name }}</li>
                {% endfor %}
            </ul>

            {# TODO: Dont display if team is already full #}
            {# FREE PLAYERS #}
        </div>

        <h3>Team requests</h3>
        <ul>
            {% for f in team_request_accept_forms %}
                <li>
                    {{ f.player_name }}
                    <form action="{% url 'accept-team-request' tournament_id=tournament.id %}" method="post">
                        {% csrf_token %}
                        {{ f }}
                        <input type="submit" value="Add to team"/>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <h3>Free players</h3>
        <ul>
            {% for f in free_players_invite_forms %}
                <li>
                    {{ f.player_name }}
                    <form action="{% url 'create-player-invite' tournament_id=tournament.id %}" method="post">
                        {% csrf_token %}
                        {{ f }}
                        <input type="submit" value="Invite to team"/>
                    </form>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p class="flow-text">
            You are currently not a member of any team.
            Join the team or create a new one to be able to take part in the tournament.
        </p>

        <h3>Create team</h3>
        <div>
            <form action="{% url 'create-team' tournament_id=tournament.id %}" method="post">
                {% csrf_token %}
                {{ create_team_form }}
                <input type="submit" value="Create"/>
            </form>
        </div>

        <h3>Invites to team</h3>
        <ul>
            {% for f in player_invite_forms %}
                <li>
                    {{ f.team_name }}
                </li>
                <form action="{% url 'accept-player-invite' tournament_id=tournament.id %}" method="post">
                    {% csrf_token %}
                    {{ f }}
                    <input type="submit" value="Accept invitation"/>
                </form>
            {% endfor %}
        </ul>

        <h3>Public teams</h3>
        <ul>
            {% for f in public_teams_request_forms %}
                <li>
                    {{ f.team_name }}
                    <form action="{% url 'create-team-request' tournament_id=tournament.id %}" method="post">
                        {% csrf_token %}
                        {{ f }}
                        <input type="submit" value="Request to join"/>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
