{% extends "liga/base.html" %}
{% block content %}

    <h1>{{ tournament.game_name }}</h1>

    <p>
        The tournament started at {{ tournament.season_start|date:'Y-m-d H:i' }}
        and will end at {{ tournament.season_end|date:'Y-m-d H:i' }}
    </p>
    {% if has_team %}

        <h2>Your team: {{ player_team.name }}</h2>
        <a href="{% url 'team' tournament_id=tournament.id team_id=player_team.id %}">
            Team profile
        </a>

    {% else %}
        <p>You don't seem to play in any teams in this tournament :(</p>
    {% endif %}

    <h2>Scoreboard</h2>
    <ol>
        {% for t in teams %}
            <li>
                {{ t.name }}
                {% if has_team and t.id == player_team.id %}
                    (your team) -
                    <a href="{% url 'team' tournament_id=tournament.id team_id=player_team.id %}">
                        team profile
                    </a>
                {% endif %}
                {# TODO: option challenge team for a match if playable #}
                , score: {{ t.score }} points
            </li>
        {% endfor %}
    </ol>

{% endblock %}
