{% extends "liga/base.html" %}
{% block content %}

    <h1>{{ tournament.game_name }}</h1>

    <p>
        The tournament starts at {{ tournament.season_start|date:'Y-m-d H:i'  }}.
    </p>

    {% if has_team %}
        {# TEAM #}
        <h3>Your team</h3>
        <div class="card-panel">
            <h4>
                {{ team.name }}
                {% if team.is_public %}
                    <span class="grey-text"><small>PUBLIC</small></span>
                {% endif %}
            </h4>
            <blockquote>
                Your team has {{ team_players_count }} players,
                while {{ tournament.team_size }} players per team are allowed in the tournament.
            </blockquote> {# TODO: Change if team is already full #}

            {# TEAMMATES #}
            {% if team_players %}
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>
                        Your teammates
                    </h5>
                </li>
                {% for p in team_players %}
                    <li class="collection-item">{{ p.user.full_name }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {# TEAM REQUESTS#}
            {% if team_request_accept_forms and team_players_count < tournament.team_size %}
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h5>
                            Team requests
                        </h5>
                    </li>
                    {% for f in team_request_accept_forms %}
                        <li class="collection-item">
                            <div>
                                {{ f.player_name }}
                                <form action="{% url 'accept-team-request' tournament_id=tournament.id %}"
                                      name="accept_team_request_{{ forloop.counter0 }}"
                                      method="post"
                                      style="display: inline;">
                                    {% csrf_token %}
                                    {{ f }}
                                    <a class="secondary-content"
                                       onclick="accept_team_request_{{ forloop.counter0 }}.submit();"
                                       href="#!">
                                        Add to team
                                    </a>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {# FREE PLAYERS #}
            {% if free_players_invite_forms and team_players_count < tournament.team_size %}
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h5>
                            Free players
                        </h5>
                    </li>
                    {% for f in free_players_invite_forms %}
                        <li class="collection-item">
                            <div>
                                {{ f.player_name }}

                                <form action="{% url 'create-player-invite' tournament_id=tournament.id %}"
                                      name="create_player_invite_{{ forloop.counter0 }}"
                                      method="post"
                                      style="display: inline;">
                                    {% csrf_token %}
                                    {{ f }}
                                    <a class="secondary-content"
                                       onclick="create_player_invite_{{ forloop.counter0 }}.submit();"
                                       href="#!">
                                        Invite to team
                                    </a>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    {% else %}
    {# PLAYER WITHOUT TEAM #}
        <p>
            You are currently not a member of any team.
            Join the team or create a new one to be able to take part in the tournament.
        </p>

        {# CREATE TEAM FORM #}
        <h3>Create team</h3>
        <div class="card-panel">
            <form class=""
                  action="{% url 'create-team' tournament_id=tournament.id %}"
                  method="post">
                {% csrf_token %}
                {{ create_team_form.non_field_errors }}

                {# TEAM NAME FIELD #}
                <div class="input-field">
                    {{ create_team_form.team_name.errors }}
                    <label for="{{ create_team_form.team_name.id_for_label }}">Team name</label>
                    {{ create_team_form.team_name }}
                </div>
                <div class="row valign-wrapper">
                    <div class="col s4 m3 more-space">
                        {# TEAM PUBLIC FIELD #}
                        <div class="switch">
                            {{ create_team_form.is_public.errors }}
                            <label for="{{ create_team_form.is_public.id_for_label }}">
                                {{ create_team_form.is_public }}
                                <span>Public</span>
                            </label>
                        </div>
                    </div>
                    <div class="col s8 m9 more-space">
                        {# Hidden field #}
                        {{ create_team_form.hidden_tournament_id_field }}
                        {# TEAM SUBMIT FIELD #}
                        <button class="btn waves-effect waves-light" type="submit" name="action" value="Submit">
                            Create team <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {# PLAYER INVITATION FORMS #}
        <ul class="collection with-header">
            <li class="collection-header">
                <h3>
                    Team invitations
                </h3>
            </li>
            {% for f in player_invite_forms %}
                <li class="collection-item">
                    <div>
                        {{ f.team_name }}
                        <form action="{% url 'accept-player-invite' tournament_id=tournament.id %}"
                              name="accept_player_invite_{{ forloop.counter0 }}"
                              method="post"
                              style="display: inline;">
                            {% csrf_token %}
                            {{ f }}
                            <a class="secondary-content"
                               onclick="accept_player_invite_{{ forloop.counter0 }}.submit();"
                               href="#!">
                                Accept invitation
                            </a>
                        </form>
                    </div>
                </li>
            {% endfor %}
            {% if not player_invite_forms %}
                <li class="collection-item">
                    You haven't received any invitations yet.
                </li>
            {% endif %}
        </ul>

        {# PUBLIC TEAM SEND REQUEST FORMS #}
        <ul class="collection with-header">
            <li class="collection-header">
                <h3>
                    Public teams
                </h3>
            </li>
            {% for f in public_teams_request_forms %}
                <li class="collection-item">
                    <div>
                        {{ f.team_name }}
                        <form action="{% url 'create-team-request' tournament_id=tournament.id %}"
                              name="create_team_request_{{ forloop.counter0 }}"
                              method="post"
                              style="display: inline;">
                            {% csrf_token %}
                            {{ f }}
                            <a class="secondary-content"
                               onclick="create_team_request_{{ forloop.counter0 }}.submit();"
                               href="#!">
                                Request to join
                            </a>
                        </form>
                    </div>
                </li>
            {% endfor %}
            {% if not public_teams_request_forms %}
                <li class="collection-item">There are no public teams currently available, sorry.</li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
