{% extends "base.html" %}
{% block content %}

    <h1>{{ tournament.game_name }}</h1>
    <p>
        The tournament starts at {{ tournament.season_start|date:'Y-m-d H:i'  }}.
    </p>

    {% if has_team %}
        <h3>
            {{ team.name }}
            {% if team.is_public %}
                <span class="text-muted">  (public)</span>
            {% endif %}
        </h3>

        <p>
            Your team has {{ team_players_count }} players,
            while {{ tournament.team_size }} players per team are allowed in the tournament.
        </p>

        <h3>Your teammates</h3>
        <ul>
            {% for p in team_players %}
                <li>{{ p.user.name }}</li>
            {% endfor %}
        </ul>

        <h3>Team requests</h3>
        <ul>
            {% for p in free_players %}
                {# TODO: Form to accept or decline the request #}
                <li>{{ p.user.name }}</li>
            {% endfor %}
        </ul>

        <h3>Free players</h3>
        <ul>
            {% for f in free_players_invite_forms %}
                <li>
                    {{ f.player_name }}
                    <form action="{% url 'create-player-invite' tournament_id=tournament.id team_id=team.id %}" method="post">
                        {% csrf_token %}
                        {{ f }}
                        <input type="submit" value="Invite to team"/>
                    </form>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>
            You are currently not a member of any team.
            Join the team or create a new one to be able to take part in the tournament.
        </p>

        <h3>Create team</h3>
        <div>
            <form action="{% url 'create-team' tournament_id=tournament.id %}" method="post">
                {% csrf_token %}
                {{ create_team_form }}
                <input type="submit" value="Create"/>
            </form>
        </div>

        <h3>Invites to team</h3>
        <ul>
            {% for team in player_invites %}
                {# TODO: Form to accept or decline the invite #}
                <li>{{ team.name }}</li>
            {% endfor %}
        </ul>

        <h3>Public teams</h3>
        <ul>
            {% for team in public_teams %}
                {# TODO: Form to add team request #}
                <li>{{ team.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
